@font-face {
  font-family: 'Bion';
  src: url('../fonts/Bion-Bold.eot');
  src: url('../fonts/Bion-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Bion-Bold.woff2') format('woff2'), url('../fonts/Bion-Bold.woff') format('woff'), url('../fonts/Bion-Bold.ttf') format('truetype'), url('../fonts/Bion-Bold.svg#Bion-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bion Book';
  src: url('../fonts/Bion-Book.eot');
  src: url('../fonts/Bion-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Bion-Book.woff2') format('woff2'), url('../fonts/Bion-Book.woff') format('woff'), url('../fonts/Bion-Book.ttf') format('truetype'), url('../fonts/Bion-Book.svg#Bion-Book') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  /* thumb and track color */
  scrollbar-width: 0px;
}
html {
  font-size: 10px;
}
body {
  background-color: #ffffff;
  color: #5e371b;
  font-family: 'Bion';
}
h1 {
  font-size: 4.8rem;
  margin: 0;
}
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    /* Уменьшенный размер шрифта для экранов шириной до 768px */
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 24px;
    /* Ещё меньший размер шрифта для экранов шириной до 480px */
  }
}
h5 {
  font-family: 'Bion Book';
  font-size: 1.6rem;
}
p {
  font-family: 'Bion Book';
  font-size: 1.6rem;
  margin: 0;
}
a,
a:hover,
a:visited {
  font-family: 'Bion Book';
  font-size: 1.2rem;
  text-decoration: none;
  color: #faeedb;
}
.header {
  min-height: 1.6rem;
  font-family: 'Bion';
  font-size: 14px;
  font-weight: 700;
  padding: 1rem 0;
}
.logo {
  display: inline-block;
}
.menu {
  box-shadow: 0px 8px 34px rgba(0, 0, 0, 0.06);
}
.menu a {
  text-transform: uppercase;
}
nav {
  padding: 0rem 0 1.5rem;
  text-transform: uppercase;
}
nav ul {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
nav li {
  z-index: 99;
  display: flex;
  align-items: center;
  margin: 0 10px;
  padding-top: 1.2rem;
}
nav a,
nav a:visited,
nav a:hover,
nav a:focus {
  color: #5e371b;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: 'Bion';
}
nav .logo {
  flex-grow: 0.5;
  padding-top: 1.2rem;
}
nav .dropdown {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  padding: 1.2rem 1.8rem 0;
}
nav .dropdown-menu > li > a {
  padding: 0;
  white-space: break-spaces;
}
nav .dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  top: calc(90%);
  min-width: 100%;
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 12px 12px;
  border: none;
}
nav .dropdown:hover .dropdown-menu {
  display: block;
}
nav .dropdown:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: none;
}
nav .dropdown-menu li {
  display: block;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #fff;
}
nav .dropdown-menu li:last-child {
  border-bottom: none;
}
.main-image {
  position: relative;
}
.main-image-text {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 99;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  color: white;
}
.main-image-text h1 {
  font-size: 7.5rem;
}
.main-image-text p {
  font-size: 2rem;
}
.button {
  background-color: #e88537;
  padding: 1rem 2rem;
  border-radius: 55px;
  color: #FEFEFE;
  font-size: 1.8rem;
  font-family: 'Bion';
  border: none;
}
.production {
  text-align: center;
}
.production-header {
  margin-top: 40px;
  font-size: 4.8rem;
  font-family: 'Bion';
}
.production h3 {
  font-size: 1.6rem;
}
.production-block {
  text-align: center;
}
.production-block img {
  display: inline-block;
  margin: 0 auto;
  height: 160px;
}
.production-slider {
  margin: 8rem 0 4.2rem ;
}
.production .arrow {
  position: absolute;
  z-index: 99;
  width: 3.2rem;
  height: 3.2rem;
  border: none;
  background-color: black;
  background-size: 20%;
  border-radius: 50%;
  top: 25%;
}
.production .prev {
  left: -2%;
  background: url(/img/left-arrow.svg) center no-repeat;
  background-color: black;
}
.production .next {
  right: -2%;
  background: url(/img/right-arrow.svg) center no-repeat;
  background-color: black;
}
.production-text h1 {
  font-size: 3.2rem;
}
.production-text p {
  font-size: 1.6rem;
  font-family: 'Bion Book';
  padding: 9px 0 2rem;
  line-height: 24.77px;
}
.content-btn {
  color: #5e371b;
  font-size: 1.6rem;
  background-color: #ffe6c0;
}
.novelty {
  margin-top: 10.8rem;
  box-shadow: 0px 8px 34px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}
.novelty-slider img {
  min-height: 24rem;
}
.novelty-text {
  margin-left: 6.8rem;
}
.slick-list {
  border-radius: 12px 0 0 12px;
}
.about {
  margin-top: 16.5rem;
}
.about img {
  border-radius: 7%;
  width: 100%;
}
.about p {
  font-size: 1.6rem;
}
.about-text h1 {
  font-size: 4.8rem;
}
.partner {
  margin-top: 20rem;
  margin-bottom: 15rem;
}
.partner img {
  border-radius: 7%;
  height: 476px;
  width: 100%;
}
.partner-text h1 {
  font-size: 4.8rem;
}
.features {
  background-color: #faeedb;
  margin-top: 9.4rem;
  text-align: center;
}
.features h1 {
  margin-top: 9.4rem;
  text-align: center;
}
.features-item {
  height: 484px;
  margin: 7.5rem 0 13.5rem;
  border-radius: 12px;
  padding: 62px 0px 96px 41px;
  background-color: #ffffff;
  box-shadow: 0px 8px 34px rgba(145, 118, 75, 0.18);
  text-align: center;
}
.features-item h1 {
  font-size: 3.2rem;
  margin-top: 4.8rem;
  text-align: left;
}
.features-item p {
  font-family: 'Bion Book';
  font-size: 1.6rem;
  margin-top: 1.7rem;
  margin-bottom: 9.6rem;
  text-align: left;
}
.features-item img {
  display: block;
  max-width: 100%;
  height: auto;
}
.read h1 {
  margin-top: 10.2rem;
}
.read-block {
  position: relative;
}
.read-block .read-header {
  position: absolute;
  top: 5px;
  left: 3rem;
}
.read-block img {
  width: 100%;
  max-width: 30rem;
  height: 141px;
  border-radius: 12px 12px 0 0;
}
.read-block h4 {
  padding: 0.5rem 1rem;
}
.read-block .date {
  font-family: 'Bion Book';
  font-size: 1.2rem;
  margin-top: 2rem;
}
.read-block h3 {
  font-size: 1.8rem;
  margin-top: 1rem;
}
.read-block p {
  font-family: 'Bion Book';
  font-size: 1.2rem;
  margin-top: 4rem;
}
.tab-content {
  margin-top: 6rem;
}
.nav-tabs {
  margin-top: 4rem;
  border: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #e88537;
  border-radius: 55px;
  color: #FEFEFE;
  font-size: 1.6rem;
  font-family: 'Bion';
  border: none;
  box-shadow: 0px 7px 26px rgba(232, 133, 55, 0.25);
}
.nav-tabs > li > a {
  border: none;
  color: #5e371b;
  font-family: 'Bion';
  font-size: 1.6rem;
}
.nav-tabs > li > a:hover {
  background-color: transparent;
  border: none;
}
.long-dash {
  border-color: #5e371b;
  border-width: 4px;
  width: 4.5rem;
  display: inline-block;
  position: relative;
  top: 10px;
}
.contacts {
  margin-top: 14rem;
}
.contacts-block h3 {
  font-size: 3.2rem;
}
.contacts-block p {
  margin-top: 5.5rem;
}
.contacts-block-btn {
  margin-top: 5.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contacts-block-btn button {
  color: #5e371b;
  background-color: #ffe6c0;
  box-shadow: 0px 4px 12px rgba(235, 199, 146, 0.1), 0px 7px 26px rgba(249, 220, 177, 0.45);
}
.contacts-block > hr {
  margin-top: 5.5rem;
  border-width: 2px;
  border-color: #b7b7b7;
}
.contacts .map-buttons {
  margin-left: 50%;
  transform: translateX(-40%) translateY(-50%);
}
.contacts .map-button {
  background-color: #ffffff;
  font-size: 1.6rem;
  padding: 5px 20px;
  color: #93391d;
  box-shadow: 0px 8px 34px rgba(0, 0, 0, 0.08);
  margin-left: 2rem;
}
.contacts .map-button-clicked {
  background-color: #5e371b;
  color: #fefefe;
}
.contacts .map button:hover,
.contacts .map button:active {
  background-color: #5e371b;
  color: #ffffff;
}
@media (max-width: 420px) {
  .contacts-block h3 {
    font-size: 2rem;
  }
  .main-image-text h1 {
    font-size: 4.5rem;
  }
  .production-header {
    font-size: 2.8rem;
  }
}
.right-side {
  width: 50%;
  position: absolute;
  right: 0;
  left: 50%;
  padding: 0;
}
.left-side {
  width: 50%;
  position: absolute;
  left: -10rem;
  padding: 0;
}
@media (max-width: 970px) {
  .right-side {
    position: static;
    width: auto;
  }
  .left-side {
    position: static;
    width: auto;
  }
}
iframe {
  border-radius: 12px;
}
.substrate {
  box-shadow: 0px 8px 34px rgba(145, 118, 75, 0.18);
  border-radius: 18px;
  margin-top: 16rem;
}
.substrate img {
  width: 100%;
}
.substrate .form-block {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
.substrate .form-block-input {
  border: none;
  border-bottom: 1px solid #b7b7b7;
  color: #8b8b8b;
  font-family: 'Bion Book';
  font-size: 1.6rem;
  padding: 2rem 0 1rem;
}
.substrate .form-block-input:focus {
  outline: none;
  border-bottom: 1px solid #b7b7b7;
}
.substrate button {
  padding: 10px 30px;
  margin-top: 5rem;
  margin-bottom: 7.6rem;
}
.substrate-form {
  margin-top: 8rem;
}
.substrate-form p {
  margin-top: 5.4rem;
}
.subscription {
  margin-top: 12rem;
  text-align: center;
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='577' viewBox='0 0 1440 577' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='724.5' cy='1300' rx='3359.5' ry='1300' fill='%23FAEEDA'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-position-x: center;
}
.subscription-item {
  margin: 8.2rem 0 7rem;
}
.subscription .flex-block {
  margin-top: 2.7rem;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}
.subscription .flex-block input {
  box-shadow: 0px 7px 26px rgba(249, 220, 177, 0.35);
  border-radius: 78px;
  padding: 1rem 5rem;
  border: none;
  font-family: 'Bion Book';
}
.subscription .flex-block button {
  padding: 1rem 3rem;
}
@media (max-width: 480px) {
  .subscription .flex-block {
    flex-direction: column;
  }
}
footer {
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='263' viewBox='0 0 1440 263' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='719.5' cy='1300' rx='3359.5' ry='1300' fill='%23281819'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-position-x: center;
  background-color: #faeeda;
  color: #faeedb;
  padding: 11.2rem 0 1rem ;
}
footer .site-map-grid {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr ;
  grid-column-gap: 40px;
  grid-row-gap: 0.6rem;
}
footer h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
}
footer p {
  font-size: 1.2rem;
  line-height: 154.84%;
}
footer .references {
  margin-top: 3.8rem;
}
footer .references a:after {
  content: url(/img/link-icon.svg);
  position: relative;
  margin-left: 5px;
}
.slider-container {
  position: relative;
  width: 100%;
  height: 60rem;
  overflow: hidden;
}
.slider {
  position: relative;
  width: 300%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease;
}
.slide {
  width: 33.33%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.dot.active {
  background-color: #e88537;
}
@media (max-width: 767px) {
  .slide {
    width: 100%;
    /* Устанавливаем ширину слайда на 100% */
  }
}
@media (max-width: 480px) {
  .subscription .flex-block input {
    padding: 1rem ;
  }
}
