@charset "UTF-8";
@font-face {
  font-family: "Bion";
  src: url("../fonts/Bion-Bold.eot");
  src: url("../fonts/Bion-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Bion-Bold.woff2") format("woff2"), url("../fonts/Bion-Bold.woff") format("woff"), url("../fonts/Bion-Bold.ttf") format("truetype"), url("../fonts/Bion-Bold.svg#Bion-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bion Book";
  src: url("../fonts/Bion-Book.eot");
  src: url("../fonts/Bion-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Bion-Book.woff2") format("woff2"), url("../fonts/Bion-Book.woff") format("woff"), url("../fonts/Bion-Book.ttf") format("truetype"), url("../fonts/Bion-Book.svg#Bion-Book") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.top-bar {
  display: flex;
  padding-left: 12%;
  padding-right: 12%;
  font-family: "Bion";
  font-size: 14px;
  text-transform: uppercase;
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0px 8px 34px 0px rgba(0, 0, 0, 0.06);
}
.top-bar a, .top-bar a:visited, .top-bar a:hover, .top-bar a:focus {
  color: #5E371B;
  text-decoration: none;
  font-size: 14px;
  font-family: "Bion";
}

.dropdown {
  position: relative;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  width: 160px;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: white;
  padding-bottom: 15px;
  width: 100%;
  border-radius: 0 0 12px 12px;
  z-index: 99;
}
.dropdown-menu > div {
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
}
.dropdown-menu .vertical-margin {
  margin: 10px 0;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.08);
}

.dropdown:hover {
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.08);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  margin-left: auto;
}

.logo {
  flex-basis: 30%;
  padding-bottom: 25px;
  padding-top: 15px;
}

.item {
  font-size: 14px;
}

.menu-toggle {
  display: none;
}

.top-bar-menu-contacts {
  display: none;
  flex-direction: column;
  text-transform: none;
}

@media screen and (max-width: 768px) {
  .menu {
    gap: 5%;
  }
}
@media screen and (max-width: 480px) {
  .menu.active {
    display: flex;
    flex-direction: column;
    height: 60%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
    border-radius: 12px 12px 12px 0;
    justify-content: center;
    gap: 35px;
  }

  .top-bar-menu-contacts.active {
    display: flex;
    width: 90%;
  }

  .dropdown {
    align-self: auto;
  }

  .dropdown:hover .dropdown-menu {
    padding-top: 14px;
  }

  .menu-toggle {
    display: flex;
    align-items: center;
  }

  .menu {
    display: none;
  }

  body.menu-open > *:not(#top-bar-menu) {
    filter: blur(2px);
    pointer-events: none;
  }

  .top-bar {
    justify-content: space-between;
  }
}
.slider-container {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.slider {
  position: relative;
  width: 300%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #E88537;
}

.header-slider {
  position: relative;
}
.header-slider-text {
  position: absolute;
  top: 50%;
  left: 8%;
  z-index: 99;
  transform: translateY(-50%);
  color: #5E371B;
}
.header-slider-text h3 {
  margin-top: 26px;
  font-size: 26px;
  font-family: var(--font-family-Bion-Book);
}

@media screen and (max-width: 480px) {
  .slider-container {
    height: 260px;
  }

  .header-slider-text > h3 {
    font-size: 14px;
  }
}
/* Стиль для блока "Наша продукция" (горизонтальный стек) */
.production {
  text-align: center;
  margin-top: 40px;
}

.center-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  width: 100%;
}

.stack-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-container {
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 50%;
  max-width: 160px;
  min-width: 100px;
  background-color: bisque;
}

.circle-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-1 {
  position: absolute;
  left: 23%;
  transform: scale(1.5);
}

.image-2 {
  position: absolute;
  top: 15%;
  left: 8%;
  transform: scale(2);
}

.image-3 {
  position: absolute;
  left: 14%;
  transform: scale(1.6);
}

.mirrored-image {
  transform: scaleX(-1) scale(1.5);
}

@media (max-width: 480px) {
  .circle-container {
    max-width: 120px;
  }
}
.novelty {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 8px 34px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}
.novelty-slider {
  width: 55%;
  height: 100%;
}
.novelty-text {
  padding-left: 68px;
  margin-top: 20px;
}
.novelty-text > h5 {
  margin: 10px 0 30px;
}

.about {
  display: flex;
  justify-content: space-between;
}
.about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 3em;
  padding-top: 20px;
}
.about img {
  width: 100%;
}

.partner {
  display: flex;
}
.partner-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 50%;
  margin-left: auto;
}
.partner-text > h2 {
  line-height: 124%;
}
.partner img {
  border-radius: 12px;
  width: 100%;
  height: 484px;
}

.slick-list {
  border-radius: 12px 0 0 12px;
}

@media screen and (max-width: 1220px) {
  .novelty-slider {
    width: 100%;
  }

  .slick-list {
    border-radius: 12px 12px 0 0;
  }

  .novelty-text {
    padding-left: 26px;
    padding-bottom: 26px;
  }

  .about {
    flex-direction: column-reverse;
  }
  .about-text {
    margin-top: 30px;
    padding: 0;
  }

  .partner {
    flex-direction: column;
  }
  .partner-text {
    padding: 0;
    width: 100%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 480px) {
  .about-text button {
    align-self: center;
  }

  .partner img {
    height: auto;
  }
  .partner-text button {
    align-self: center;
  }
}
.advantages {
  background-color: #FAEEDB;
  padding-top: 94px;
  padding-bottom: 110px;
}
.advantages h2 {
  text-align: center;
}
.advantages-card-pack {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}
.advantages-card {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  padding-left: 40px;
  padding-right: 26px;
  background-color: #FFFFFF;
  box-shadow: 0px 8px 34px rgba(145, 118, 75, 0.18);
}
.advantages-card img {
  width: 100%;
  margin-bottom: 20px;
  height: 200px;
  object-fit: contain;
}

@media screen and (max-width: 480px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: calc(72px - 15px);
  }
  .advantages-card-pack {
    margin-top: 50px;
  }
}
@media screen and (max-width: 968px) {
  .advantages-card-pack {
    flex-direction: column;
  }

  .advantages-card {
    margin-bottom: 15px;
  }
}
.read-header {
  position: absolute;
  top: -10px;
  left: 20px;
  z-index: 99;
}
.read-header span {
  font-size: 14px;
  padding: 5px 15px;
}
.read-block {
  flex: 0 0 auto;
  position: relative;
  padding-left: 0;
  cursor: pointer;
}
.read-block-text {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}
.read-block img {
  width: 100%;
  height: 140px;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.scroll-container {
  overflow-x: auto;
}

.scroll-content {
  display: flex;
  margin-top: 16px;
}

.tab-content {
  margin-top: calc(60px - 16px);
}

.nav-tabs {
  margin-top: 40px;
  border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #E88537;
  border-radius: 55px;
  color: #FEFEFE;
  font-size: 16px;
  font-family: "Bion";
  padding: 10px 30px;
  border: none;
  box-shadow: 0px 7px 26px rgba(232, 133, 55, 0.25);
}
.nav-tabs > li > a, .nav-tabs > li > a:hover {
  border: none;
  color: #5E371B;
  font-family: "Bion";
  font-size: 16px;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 480px) {
  .read-block {
    flex-basis: 74%;
  }
}
.contacts {
  display: flex;
  justify-content: space-between;
}
.contacts-block {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 2em;
}
.contacts-block h5 {
  width: 74%;
}
.contacts-block h2 {
  line-height: 124%;
}
.contacts-block > hr {
  margin-top: 55px;
  border-width: 2px;
  border-color: #B7B7B7;
  width: 100%;
}
.contacts .map {
  position: relative;
  flex-basis: 48%;
}
.contacts .map-controls {
  position: absolute;
  bottom: -4%;
  left: 0;
  z-index: 99;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts .map-buttons {
  display: flex;
}
.contacts .map-button {
  background-color: #FFFFFF;
  font-size: var(--h4-font-size);
  padding: 5px 20px;
  color: #5e371b;
  box-shadow: 0px 8px 34px rgba(0, 0, 0, 0.08);
  margin-left: 2rem;
}
.contacts .map-button-clicked {
  background-color: #5E371B;
  color: #FEFEFE;
}
.contacts .map button:hover, .contacts .map button:active {
  background-color: #5E371B;
  color: #FEFEFE;
}

.ymaps-2-1-79-inner-panes,
.ymaps-2-1-79-map {
  border-radius: 12px;
}

.right-side {
  height: 100%;
}

@media (max-width: 1220px) {
  .contacts {
    flex-direction: column-reverse;
  }
  .contacts-block {
    margin-top: 76px;
    padding-right: 0;
  }
}
@media (max-width: 480px) {
  .right-side {
    height: 400px;
  }
}
.form {
  box-shadow: 0px 8px 34px rgba(145, 118, 75, 0.18);
  border-radius: 18px;
}
.form-container {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 26px;
  padding-bottom: 5%;
}
.form-img img {
  width: 100%;
  height: auto;
}
.form-production {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.form-production h5 {
  width: 80%;
}
.form-block {
  margin: 0 0 70px;
  display: flex;
  flex-direction: column;
}
.form-block-input {
  border: none;
  border-bottom: 1px solid #B7B7B7;
  color: #8B8B8B;
  padding: 20px 0 10px;
}
.form-block-input:focus {
  outline: none;
  border-bottom: 1px solid #B7B7B7;
}

@media screen and (max-width: 1220px) {
  .form-block {
    margin: 0 0 30px;
  }
  .form-production {
    margin-top: 0;
  }
  .form-production h5 {
    width: auto;
  }
  .form-img {
    position: relative;
    width: 200px;
    height: 300px;
    align-self: center;
    transform: rotate(90deg);
  }
  .form-container {
    flex-direction: column;
  }
}
.subscription {
  margin-top: 120px;
  padding-top: 54px;
  padding-bottom: 40px;
  text-align: center;
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='577' viewBox='0 0 1440 577' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='724.5' cy='1300' rx='3359.5' ry='1300' fill='%23FAEEDA'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-position-x: center;
}
.subscription-container h5 {
  color: black;
  opacity: 50%;
  margin-bottom: 0;
  margin-top: 38px;
}
.subscription .flex-block {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.subscription .flex-block input {
  box-shadow: 0px 7px 26px rgba(249, 220, 177, 0.35);
  border-radius: 78px;
  padding: 0 50px;
  height: 100%;
  border: none;
}
.subscription .flex-item input::placeholder {
  font-size: var(--h5-font-size);
}

@media screen and (max-width: 480px) {
  .subscription {
    background-image: url(/img/small_subscription_bg.svg);
  }
  .subscription .flex-block {
    margin-top: 15px;
    flex-direction: column;
  }
  .subscription .flex-block input {
    padding: 10px;
  }
  .subscription .flex-item {
    margin-top: 15px;
  }
}
footer {
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='263' viewBox='0 0 1440 263' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='719.5' cy='1300' rx='3359.5' ry='1300' fill='%23281819'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-position-x: center;
  background-color: #FAEEDA;
  color: #faeedb;
  padding: 112px 0 10px;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
footer .footer-left-block {
  display: flex;
}
footer .footer-left-block .logo {
  padding: 0;
  padding-right: 50px;
}
footer .footer-right-block {
  display: flex;
}
footer .information {
  display: flex;
  flex-direction: column;
}
footer .site-map-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-column-gap: 40px;
  grid-row-gap: 6px;
}
footer .site-map-grid a.references:after {
  content: url(/img/link-icon.svg);
  position: absolute;
  padding-left: 5px;
}
footer p {
  font-family: var(--font-family-Bion);
  font-size: 12px;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  footer {
    padding: 62px 0 10px;
    background-image: url("/img/small_footer_bg.svg");
  }
  footer .footer-container {
    flex-direction: column;
    padding-bottom: 30px;
  }
  footer .footer-container a {
    font-size: 8px;
  }
  footer p {
    font-size: 8px;
  }
  footer .site-map-grid {
    grid-column-gap: 0;
  }

  .footer-left-block .logo {
    display: none;
  }

  .footer-right-block {
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-container {
    flex-direction: column;
  }
}
.button {
  background-color: #E88537;
  padding: var(--button-padding);
  border-radius: 55px;
  color: #FEFEFE;
  font-size: var(--button-font-size);
  font-family: "Bion";
  border: none;
  box-shadow: 0px 7px 26px rgba(232, 133, 55, 0.25);
}

.content-button {
  background-color: #FFE6C0;
  padding: var(--content-button-padding);
  border-radius: 55px;
  color: #5e371b;
  font-size: var(--button-font-size);
  font-family: "Bion";
  border: none;
  box-shadow: 0px 7px 26px rgba(232, 133, 55, 0.25);
}
.content-button:hover {
  background-color: #5E371B;
  color: #FEFEFE;
}

.content-button.active {
  background-color: #5e371b;
  color: #fefefe;
}

.horizontal-button-stack {
  display: flex;
  justify-content: space-between;
}

#showMoreButton {
  background-color: #FFFFFF;
  color: #5e371b;
  padding: 20px 25px;
  border-radius: 1em;
  font-size: 1.1em;
  font-family: "Bion";
  border: none;
  box-shadow: 0em 8px 34px 0px rgba(0, 0, 0, 0.08);
  position: relative;
  padding-right: 50px;
}

#showMoreButton::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 12px;
  height: 6px;
  background: url("/img/down-arrow.svg") no-repeat center center;
  background-size: cover;
}

@media screen and (max-width: 480px) {
  #showMoreButton {
    padding: 12px 16px;
    border-radius: 1em;
    font-size: 1em;
    padding-right: 30px;
  }
}
:root {
  --h1-font-size: 75px;
  --h2-font-size: 48px;
  --h3-font-size: 32px;
  --h4-font-size: 18px;
  --h5-font-size: 16px;
  --h6-font-size: 12px;
  --font-family-Bion: "Bion";
  --font-family-Bion-Book: "Bion Book";
  --button-font-size: 18px;
  --button-padding: 10px 27px;
  --content-button-padding: 10px 27px;
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  /* thumb and track color */
  scrollbar-width: 0px;
}

body {
  background-color: #FFFFFF;
  color: #5E371B;
  font-family: var(--font-family-Bion-Book);
}

h1 {
  font-size: var(--h1-font-size);
  margin: 0;
  font-family: var(--font-family-Bion);
  line-height: 0.9;
}

h2 {
  font-size: var(--h2-font-size);
  font-family: var(--font-family-Bion);
  margin: 0;
}

h3 {
  font-size: var(--h3-font-size);
  font-family: var(--font-family-Bion);
  margin: 0;
}

h4 {
  font-size: var(--h4-font-size);
  font-family: var(--font-family-Bion);
}

h5 {
  font-size: var(--h5-font-size);
  font-family: var(--font-family-Bion-Book);
}

h6 {
  font-size: var(--h6-font-size);
  font-family: var(--font-family-Bion-Book);
  margin: 0;
}

img {
  margin: 0 auto;
}

.vertical-margin {
  margin-top: 140px;
}

.horizontal-margin {
  margin-left: 12%;
  margin-right: 12%;
}

@media (max-width: 1220px) {
  :root {
    --button-padding: 8px 20px;
    --content-button-padding: 8px 20px;
  }
}
@media (max-width: 480px) {
  :root {
    --h1-font-size: 36px;
    --h2-font-size: 28px;
    --h3-font-size: 22px;
    --h4-font-size: 16px;
    --h5-font-size: 12px;
    --h6-font-size: 8px;
    --button-font-size: 13px;
    --button-padding: 8px 20px;
    --content-button-padding: 8px 10px;
  }

  .vertical-margin {
    margin-top: 50px;
  }

  .horizontal-margin {
    margin-left: 6%;
    margin-right: 6%;
  }
}
a, a:hover, a:visited, a:focus {
  font-size: var(--h6-font-size);
  text-decoration: none;
  color: #FAEEDB;
}

.divider {
  border: 1px solid #ccc;
  margin: 20px 0;
}

.long-dash {
  border-color: #5E371B;
  border-width: 4px;
  width: 45px;
  display: inline-block;
  position: relative;
  top: 10px;
  left: 20px;
}